<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.twitter.com</key>
	<dict>
		<key>MPOAuthUserAuthorizationURL</key>
		<string>https://twitter.com/oauth/authorize</string>
		<key>MPOAuthAccessTokenURL</key>
		<string>https://twitter.com/oauth/access_token</string>
		<key>MPOAuthRequestTokenURL</key>
		<string>https://twitter.com/oauth/request_token</string>
	</dict>
</dict>
</plist>
